<header class="site-header">
<!--
    <div class="barra-contatos">
        <a href="mailto:terrabonsai@gmail.com">
            <img src="../assets/images/envelope.png" alt="email"></img>
        </a>
        <a href="tel:+5531988987503">
            <i><img src="../assets/images/whatsapp.png" alt="telefone"></img></i>
        </a>
        <a href="https://www.facebook.com/Escola-Terra-Bonsai-231177263574283/">
            <i><img src="../assets/images/facebook.png" alt="facebook"></img></i>
        </a>
    </div>
-->
    <div class="barra-principal">
        <img class="logo" src="/assets/images/logo_branco.png" alt="Foto de Escola Terra Bonsai">
        <div>
            <div class="rmm style">
                <ul>
                    <li><a href="/index.html"><i class="fa fa-home"></i> HOME</a></li>
                    <li><a href="#">BONSAI</a>
                        <ul>
                            <li><a href="/bonsai/historia.html">História</a></li>
                            <li><a href="/bonsai/estilos.html">Estilos</a></li>
                            <li><a href="/bonsai/especies.html">Espécies</a></li>
                            <li><a href="#"><span class="fa fa-angle-right"></span>Cuidados Básicos</a>
                                <ul>
                                    <li><a href="/bonsai/cuidados/rega.html">Rega</a></li>
                                    <li><a href="/bonsai/cuidados/sol.html">Sol</a></li>
                                    <li><a href="/bonsai/cuidados/poda.html">Poda</a></li>
                                    <li><a href="/bonsai/cuidados/substrato.html">Substrato</a></li>
                                    <li><a href="/bonsai/cuidados/adubacao.html">Adubação</a></li>
                                    <li><a href="/bonsai/cuidados/ferramentas.html">Ferramentas</a></li>
                                    <li><a href="/bonsai/cuidados/transplante.html">Transplante</a></li>
                                    <li><a href="/bonsai/cuidados/pragasdoencas.html">Pragas e Doenças</a></li>
                                    <li><a href="/bonsai/cuidados/aramagem.html">Aramagem</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><span class="fa fa-angle-right"></span>Formas de Cultivo</a>
                                <ul>
                                    <li><a href="/bonsai/cultivo/sementes.html">Sementes</a></li>
                                    <li><a href="/bonsai/cultivo/estacas.html">Estacas</a></li>
                                    <li><a href="/bonsai/cultivo/yamadori.html">Yamadori</a></li>
                                    <li><a href="/bonsai/cultivo/mudas.html">Mudas</a></li>
                                    <li><a href="/bonsai/cultivo/compra.html">Compra</a></li>
                                    <li><a href="/bonsai/cultivo/outroscultivos.html">Outras (Enxertia, Alporquia)</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><span class="fa fa-angle-right"></span>Artes Relacionadas</a>
                                <ul>
                                    <li><a href="/bonsai/relacionadas/kusamono.html">Kusamono</a></li>
                                    <li><a href="/bonsai/relacionadas/suiseki.html">Suiseki</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">TERRA BONSAI</a>
                        <ul>
                            <li><a href="/terrabonsai/viveiro.html">O Viveiro</a></li>
                            <li><a href="/terrabonsai/rock.html">Rock Junior</a></li>
                            <li><a href="/terrabonsai/escola.html">Escola</a></li>
                            <li><a href="/terrabonsai/comochegar.html">Como Chegar</a></li>
                            <li><a href="/terrabonsai/contato.html">Contato</a>
                            <li><a href="#"><span class="fa fa-angle-right"></span>Cursos</a>
                                <ul>
                                    <li><a href="/terrabonsai/cursos/viveiro.html">No Viveiro</a></li>
                                    <li><a href="/terrabonsai/cursos/cidade.html">Na sua Cidade</a></li>
                                    <li><a href="/terrabonsai/cursos/online.html">Online</a></li>
                                </ul>
                            </li>
                            <li><a href="/terrabonsai/workshops.html">Workshops</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
